version: '3.8'

services:
  cosmosdb:
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator
    container_name: cosmosdb_emulator
    platform: linux/amd64
    environment:
      AZURE_COSMOS_EMULATOR_PARTITION_COUNT: 3
      AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE: "true"
    ports:
      - "8081:8081"
      - "10251-10254:10251-10254"
    volumes:
      - cosmos_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "curl -k https://localhost:8081/_explorer/index.html || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 15

  api:
    build:
      context: ./backend/my-app  # Looks for Dockerfile inside backend folder
    container_name: fastapi_backend
    ports:
      - "7071:80"
    environment:
      - COSMOS_DB_ENDPOINT=https://cosmosdb:8081
      - COSMOS_DB_KEY=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
      - AzureWebJobsScriptRoot=/home/site/wwwroot
      - AzureFunctionsJobHost__Logging__Console__IsEnabled=true
      - AzureWebJobsStorage="" # Suppress missing storage warnings for local dev
      - AzureFunctionsJobHost__CORS__AllowedOrigins=*
      - AzureFunctionsJobHost__CORS__SupportCredentials=true
    depends_on:
      cosmosdb:
        condition: service_healthy
    restart: on-failure
    volumes:
      - ./backend/my-app:/home/site/wwwroot
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; print(urllib.request.urlopen('http://127.0.0.1:80/api/health').getcode())"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./frontend/my-app  # Looks for Dockerfile inside frontend folder
      args:
        - REACT_APP_API_URL=http://localhost:7071/api
    container_name: react_frontend
    ports:
      - "3000:80"
    depends_on:
      api:
        condition: service_healthy

volumes:
  cosmos_data:
