name: HR Tracking Azure Application

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select Environment to Deploy'
        required: true
        type: choice
        options:
          - nonprod
          - prod
        default: nonprod
      multiregion:
        description: 'Enable Multi-Region Deployment?'
        type: boolean
        default: false
      skip_build:
        description: 'Skip Docker Build?'
        type: boolean
        default: false
      destroy:
        description: 'Destroy Infrastructure?'
        type: boolean
        default: false

permissions:
  id-token: write
  contents: read
  packages: write 
  deployments: write

env:
  ENV: ${{ github.event.inputs.environment }}
  PRIMARY_REGION: "centralindia"
  SECONDARY_REGION: "southindia"

run-name: >
  Deployment to ${{ github.event.inputs.environment }} 
  (MultiRegion: ${{ github.event.inputs.multiregion }}, SkipBuild: ${{ github.event.inputs.skip_build }})

jobs:
  build:
    # This job will skip if destroy is true OR skip_build is true
    if: ${{ github.event.inputs.destroy == 'false' && github.event.inputs.skip_build == 'false' }}
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build React App
        uses: ./.github/actions/docker-build
        with:
          REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }} 
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          IMAGE_NAME: "emptrack-frontend"
          PROJECT_PATH: 'appcode/frontend/my-app'    
          IMAGE_TAG: ${{ github.sha }}
          BUILD_ARGS: "REACT_APP_API_URL=https://emptrack-${{ env.ENV }}-${{ env.PRIMARY_REGION }}-funcapp.azurewebsites.net/api"

  release:
    # Use if: always() so that release runs even if build is skipped
    if: always()
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      # Check if previous build failed (ignore if it was simply skipped)
      - name: Check Build Status
        if: ${{ needs.build.result == 'failure' }}
        run: exit 1

      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create Deployment Package
        if: ${{ github.event.inputs.destroy == 'false' }}
        run: |
          cd appcode/backend/my-app
          # IMPORTANT: For Python, you must install dependencies if SCM_DO_BUILD is false
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"
          zip -r ../../../release.zip . -x "*.git*"

      - name: Deploy Infrastructure
        uses: ./.github/actions/terraform-deploy
        with:
          TARGET_ENVIRONMENT: '${{ env.ENV }}'
          CHECKOUT_PATH: .
          WORKING_DIRECTORY: 'terraform/src'
          REGION: ${{ env.PRIMARY_REGION }}
          DESTROY: ${{ github.event.inputs.destroy }}
          IMAGE_TAG: ${{ github.sha }}
        env:
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_shouldBeMultiRegion: ${{ github.event.inputs.multiregion }}
          TF_VAR_secondary_region: ${{ env.SECONDARY_REGION }}
          TF_VAR_zip_package_path: ${{ github.event.inputs.destroy == 'false' && '../../release.zip' || '' }}

      # - name: Checkout Code
      #   if: ${{ github.event.inputs.destroy == 'false' }}
      #   uses: actions/checkout@v4

      # - name: Create Deployment Package
      #   if: ${{ github.event.inputs.destroy == 'false' }}
      #   run: |
      #     cd appcode/backend/my-app
      #     # IMPORTANT: For Python, you must install dependencies if SCM_DO_BUILD is false
      #     pip install -r requirements.txt --target=".python_packages/lib/site-packages"
      #     zip -r ../../../release.zip . -x "*.git*"

      # - name: Deploy to Azure Function
      #   if: ${{ github.event.inputs.destroy == 'false' }}
      #   uses: Azure/functions-action@v1
      #   with:
      #     app-name: 'emptrack-${{ env.ENV }}-${{ env.PRIMARY_REGION }}-funcapp'
      #     package: 'release.zip'
      #     scm-do-build-during-deployment: false
