name: Deploy Infrastructure and Three Tier App for Employee Tracking Web Application

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select Environment to Deploy'
        required: true
        type: choice
        options:
          - nonprod
          - prod
        default: nonprod
      multiregion:
        description: 'Enable Multi-Region Deployment?'
        type: boolean
        default: false

permissions:
  id-token: write
  contents: read
  packages: write 
  deployments: write

env:
  ENV: ${{ github.event.inputs.environment }}
  PRIMARY_REGION: "eastus2"
  SECONDARY_REGION: "centralus"

run-name: >
  Deployment to ${{ github.event.inputs.environment }} 
  (MultiRegion: ${{ github.event.inputs.multiregion }})

jobs:
  build-images:
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build FastAPI Backend
        uses: ./.github/actions/docker-build
        with:
          REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }} 
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          IMAGE_NAME: "emptrack-backend"
          PROJECT_PATH: 'appcode/backend/my-app'   

      - name: Build React App
        uses: ./.github/actions/docker-build
        with:
          REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }} 
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          IMAGE_NAME: "emptrack-frontend"
          PROJECT_PATH: 'appcode/frontend/my-app'    

  provision-infra:
    needs: [build-images, generate-matrix]  
    strategy:
      matrix:
        region: ${{ fromJSON(needs.generate-matrix.outputs.regions) }}
      fail-fast: false 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform Apply
        uses: ./.github/actions/terraform-deploy
        with:
          TARGET_ENVIRONMENT: '${{ env.ENV }}'
          CHECKOUT_PATH: .
          WORKING_DIRECTORY: 'terraform/src'
        env:
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_shouldBeMultiRegion: ${{ github.event.inputs.multiregion }}
          TF_VAR_secondary_region: ${{ env.SECONDARY_REGION }}

  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      regions: ${{ steps.set-matrix.outputs.regions }}
    steps:
      - id: set-matrix
        run: |
          if [[ "${{ github.event.inputs.multiregion }}" == "true" ]]; then
            echo 'regions=["${{ env.PRIMARY_REGION }}", "${{ env.SECONDARY_REGION }}"]' >> $GITHUB_OUTPUT
          else
            echo 'regions=["${{ env.PRIMARY_REGION }}"]' >> $GITHUB_OUTPUT
          fi