name: Deploy Infrastructure and Three Tier App

on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
    workflow_dispatch:      

env:
    ENV: ${{ fromJSON('{"develop":"nonprod","main:"prod"}')[github.ref_name] || 'dev' }}

run-name: >
    Deployment ${{ github.ref_name }} into ${{ fromJSON('{"develop":"nonprod","main:"prod"}')[github.ref_name] || 'dev' }} 
    triggered by ${{ github.event_name }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: terraform apply landing zone
        uses: wnadim92/azure-employee-tracking-system/.github/actions/terraform-deploy@main
        with:
          TARGET_ENVIRONMENT: ${{ env.ENV }}
          CHECKOUT_PATH: .
          WORKING_DIRECTORY: 'terraform/src'

          - name: terraform apply landing zone
          uses: wnadim92/azure-employee-tracking-system/.github/actions/react-appsvc-deloyy@main
          with:
            TARGET_ENVIRONMENT: ${{ env.ENV }}
            CHECKOUT_PATH: .
            WORKING_DIRECTORY: 'terraform/src'

        