name: Deploy Infrastructure and Three Tier App

on:
    workflow_dispatch:      

env:
    ENV: ${{ fromJSON('{"develop":"nonprod","main":"prod"}')[github.ref_name] || 'dev' }}
    AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    MULTIREGION: false

run-name: >
    Deployment ${{ github.ref_name }} into ${{ fromJSON('{"develop":"nonprod","main":"prod"}')[github.ref_name] || 'dev' }} 
    triggered by ${{ github.event_name }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2 
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}

      - name: terraform apply landing zone
        uses: wnadim92/azure-employee-tracking-system/.github/actions/terraform-deploy@main
        with:
          TARGET_ENVIRONMENT: ${{ env.ENV }}
          CHECKOUT_PATH: .
          WORKING_DIRECTORY: 'terraform/src'
        env:
          ARM_SUBSCRIPTION_ID: ${{ env.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy React Front End onto Azure App Service
        uses: wnadim92/azure-employee-tracking-system/.github/actions/react-appsvc-deploy@main
        with:
          TARGET_ENVIRONMENT: ${{ env.ENV }}
          APP_SVC_NAME: "emptrack-${{ env.ENV }}-appsvc"

      - name: Deploy FastAPI Python Backend on Function App
        uses: wnadim92/azure-employee-tracking-system/.github/actions/docker-build-funcapp-deploy@main
        with:
          TARGET_ENVIRONMENT: ${{ env.ENV }}
          APP_SVC_NAME: "emptrack-${{ env.ENV }}-eastus2-appsvc"
